.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  margin: 0;
  padding: 0;
}
.header ol {
  margin: 0;
}

.img-header {
  padding: 0;
  margin: 0;
  height: 80px;
  width: 260px;
}

.anclas {
  padding: 0;
  margin: 0;
  display: flex;
  height: 80px;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Cormorant Garamond', serif;
}

.anclas-header {
  padding: 0 20px;
  text-decoration: none;
  color: black;
  display: flex;
  list-style: none;
  height: inherit;
  align-items: center;
}

.hero  {
  background-image: url("images/hero2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px;
  color: white;
  font-size: 32px;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}


.hero h1 {
  padding: 0 40px;
}*/

  /*contenedor capacitacion*/
/*.capa {
  padding: 0;
  justify-content: center;
  display: block;
  margin: 0 auto;
}

.text-capa {
  margin: 0 30px;
  text-align: center;
}

.text-capa h2 {
  padding: 0;
  margin: 30px 450px 0 450px;
  font-size: 28px;
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
}

.text-capa p {
  font-size: 18px;
  font-family: 'Catamaran', sans-serif;
}
.text-capa h3 {
  font-size: 23px;
  font-family: 'Cormorant Garamond', serif;
  margin: 30px 0 0 0;
}*/
  /*vinculo a platzi.com*/
/*.capa p a {
  text-decoration: none;
}

.diplo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.diplo-container content h3 {
  display: flex;
  margin: 10px;
  padding: 0;
  justify-content: center;
  font-size: 18px;
  font-family: 'Cormorant Garamond', serif;
}
.diplo-container content {
  margin: 15px;
  text-align: center;
}*/
  /* contenedores para cada diploma*/
/*.diplomas {
  margin: 10px;
  margin-top: 20px;
  height: 300px;
  width: 400px;
  display: flex;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
.projects {
  height: 400px;
  background-image: url(images/project.jpg);
  background-repeat: no-repeat;
  background-size: 680px 400px;
  background-position: right;
  object-fit: contain;
  width: 1200px;
  margin: 10px auto;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.projects2 {
  height: 400px;
  background-image: url(images/project2.jpg);
  background-repeat: no-repeat;
  background-size: 680px 400px;
  object-fit: contain;
  display: flex;
  justify-content: left;
  background-position: left;
  width: 1200px;
  margin: 10px auto;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.text-pro {
  height: 400px;
  width: 500px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
}

.projects a {
  text-decoration: none;
}

.text-pro2 {
  height: 400px;
  width: 500px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
  margin-left: 690px;
}

.projects2 a {
  text-decoration: none;
}

.contact {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.contact h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Cormorant Garamond', serif;
}

.social-link {
  height: 70px;
  width: 70px;
  display: inline-block;
  background-size: 70px 70px;
  margin: 10px;
}
.social-link.facebook {
  background-image: url("images/iconos/facebook.png");
}
.social-link.instagram {
  background-image: url("images/iconos/instagram.png");
}
.social-link.twitter {
  background-image: url("images/iconos/twitter.png");
}
.social-link.linkedin {
  background-image: url("images/iconos/linkedin.png");
}
.social-link.github {
  background-image: url("images/iconos/github.png");
}
.social-link.platzi {
  background-image: url("images/iconos/platzi.png");
}

.footer {
  height: 80px;
  background-color: #4c4c4f;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.footer p {
  display: inherit;
  align-items: flex-end;
  font-size: 15px;
  color: white;
  font-family: 'Catamaran', sans-serif;
}

.wrapper {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 1200px;
  height: inherit;
  margin: 0 auto;
  background-color: inherit;
  background-repeat: inherit;
  background-position: inherit;
  background-size: inherit;
}

.body h1 {
  font-family: 'Cormorant Garamond', serif;
  text-shadow: 5px 5px 5px black;
}

.body h3 {
  font-family: 'Cormorant Garamond', serif;
}


.projects p {
  font-family: 'Catamaran', sans-serif;
  font-size: 18px;
  padding: 10px;
  margin-top: 0;
  text-decoration: none;
  align-items: center;
}
.projects2 p {
  font-size: 18px;
  padding: 10px;
  margin-top: 0;
  text-decoration: none;
  align-items: center;
  font-family: 'Catamaran', sans-serif;
}

.projects h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  margin-top: 80px;
  margin-bottom: 0;
}
.projects2 h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  margin-top: 80px;
  margin-bottom: 0;
}


/*
.underconstruction {
  color: white;
  animation-name: animacion;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

*/

body  {
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: #4c4c4f;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes animacion {
  0% {
    opacity: 0;
    color: red;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* FUENTES
    font-family: 'Fjalla One', sans-serif;

    font-family: 'Source Serif Pro', serif;

    font-family: 'Catamaran', sans-serif; ---> TEXTOS

    font-family: 'Cormorant Garamond', serif; ----> TITULOS

*/


/*by AR*/
